/* 背景設定 */
html {
    width: 100%;
    height: 100vh;
    margin:0px;
    padding:0px;
    background:rgb(255, 255, 255); 
    background-image: url('../../../assets/pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }        


.container {
    padding-left: 30%;
    padding-top: 10%;
}

.button {
    width: 120px;
    height: 120px;
    margin: 30px;
    font-size: 30px;
}

.value {
    text-align: center;
    font-size: 75px;
    padding-top: 5%;
}

.bingo {
    text-align: center;
    font-size: 180px;
    color: rgb(226, 94, 94);
}

.count {
    font-size: 200px;
    color: rgb(65, 148, 226);
}

.codeField {
    width: 500px;
}

.codeInput {
    font-size: 80px;
    color: rgb(65, 148, 226);
}

.codeHint {
    font-size: 30px
}

.gradient-button {
    margin: 10px;
    font-size: 50px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}

.gradient-button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 8px 10px 12px;
}

.gradient-button-4 {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)
}

.gradient-button-4:hover {
    background-position: right center;
}