<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>終極密碼</title>
</head>

<body>
    <div class="container">
        <mat-form-field class="codeField" floatLabel="never">
            <input type="text" name="code" class="codeInput" matInput [(ngModel)]="inputValue" />
            <mat-hint class="codeHint">請猜測一個數字吧！</mat-hint>
        </mat-form-field>
        <button class="button gradient-button gradient-button-4" (click)="onClick()">Go!
            <mat-icon class="icon">double_arrow</mat-icon>
        </button>
    </div>
    <div class="value" *ngIf="!show">
        <span [countUp]="minValue" class="count">{{minValue}}</span><span class="count">～</span><span
            [countUp]="maxValue" class="count">{{maxValue}}</span>
    </div>

    <div class="bingo" [@bounceInDown]="bounceInDown" *ngIf="show">
        <span>猜對囉 !!</span>
    </div>
</body>

</html>