/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-family: 'Microsoft JhengHei'
}

html, body, div {
    padding: 0;
    margin: 0;
}